---

---

@import "minima";

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $highlight-color; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue-color-dark; 
}

.fancy-card {
    box-shadow: 5px 5px 10px 5px rgba(7,0,0,0.07);
    border-radius: 30px;
    background-color: white;
    margin: 3% auto 3% auto;
    padding: 10%;

    .page-card-description p{
        margin-bottom: 0;
    }

    .page-card-symbol i{
        color: $highlight-color;
    }
}

.bg-alternating:nth-child(odd){
    background-color: white;
}

.bg-alternating:nth-child(even){
    background: $grey-color-really-light;
}

.text-grey{
    color: $grey-color;
}

label{
    display: none !important;
}

.button {
    color: white !important;
    text-decoration: none !important;
    background: $highlight-color;
    border-radius: 30px;
    padding: 2% 4%;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 2%;
}

.button:hover {
    background: $blue-color-dark;
    color: white !important;
}

#active{
    color: $highlight-color !important;
}


h2.section-title {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 5% auto 2.5% auto;
    width: 100%;
}

h2.section-title::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: $highlight-color;
    left: 0;
    right: 0;
    bottom: -10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black !important;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
}

.dropdown:hover{
    cursor: pointer !important;
    
    & .dropdown-content {
        display: block;
    }
}

.intro-title{
    font-size: 4rem;
    margin-bottom: 5%;
}

.row{
    margin: 0;

    *{
        margin: auto;
    }
}

.intro{
    height: 500px;
    display: table;
    margin: auto;
}

.intro-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.learning-site-info{
    display: table;
    margin: auto;
}

.learning-site-text{
    display: table-cell;
    vertical-align: middle;
}

.hero-image-container{
    position: relative;
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-text{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .overlay{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    img{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }
}

.trigger{
    display: flex;
}

.container{
    margin: 5% auto;
}

#Contact .site-header *{
    color: black;
}

.site-header{
    background-color: rgba(255,255,255,0);
    transition: background-color 500ms ease 0s;
    position: fixed;
    z-index: 10;
    width: 100%; 

    *{
        color: white;
    }

    &.opaque{
        background-color: rgba(255,255,255,0.9);

        *{
            color: black;
        }
    }
}

#Contact {
    // .hero-image-container{
    //     height: 50vh;
    //     background-color: $blue-color-light;
    
    //     *{
    //         color: black;
    //     }
    // }

    .row *{
        margin: 1% auto;
    }

    .jumbotron i{
        font-size: 75px;
        width: 100%;
    }

    // .jumbotron:nth-child(even){
    //     background-color: $blue-color;
    // }
}

.jumbotron:nth-child(odd){
    background-color: $blue-color-light !important;
}

.jumbotron{
    margin: 0 !important;
    background-color: white !important;

    .container{
        margin: 0 auto;
    }
}

#Code{
    .jumbotron{
        .row{
            margin: 30px 0 !important;
        }

        .fancy-card-container{
            position: relative;
            padding-bottom: 100%;
            width: 100%;

            .fancy-card{
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: transform .2s;

                &:hover{
                    box-shadow: 6px 6px 12px 6px rgba(7, 0, 0, 0.07) !important;
                    transform: scale(1.05);
                    cursor: pointer !important;
                }

                .fancy-card-overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    border-radius: 30px;

                    &:hover{
                        background-color: rgba(0,0,0,0.02);

                        // & + img{
                        //     transform: scale(1.05);
                        // }
                    }
                }

                img{
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    position: absolute;
                    margin: auto;
                    width: 90%;

                    &#card-image-coursera {
                        margin: 0;
                        width: 100%;
                        border-radius: 30px;
                    }
                }
            }
        }
        
    }

    .modal-body{
        text-align: left;

        p{
            font-size: 0.875rem;
        }

        .course-difficulty{
            display: flex;

            p{
                line-height: 0.875rem;
                margin-left: 0.5%;
                margin-bottom: 0;
            }

            img{
                height: 0.875rem;
            }
        }
    }
}

