---
layout: default
---
<article class="post">

  <!-- <header class="post-header">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </header> -->

  <div class="post-content">
    <div class="hero-image-container" style="background-image: url({{site.baseurl}}/assets/img/{{page.title}}-hero.png);">
      {% if page.title != "Contact" %}
      <div class="overlay"></div>
      <!-- <img src="{{site.baseurl}}/assets/img/{{page.title}}-hero.png"> -->
      {% endif %}
      <div class="hero-text">
        <h1 class="intro-title"><b>{{page.hero-title}}</b></h1>
        <h4>{{page.hero-subtitle}}</h4>
      </div>
    </div>

    {{ content }}
  </div>

</article>